/*#region reset and palette*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dp-sky: #B4D0E7;
    --dp-dark: #000000;
    --dp-bluebutton: #0061FF;
    --dp-florida: #0093CE;
    --dp-lonelyplanet: #0D2481;
    --dp-asu: #61082B;
    --dp-designit: #A2D39B;
    --dp-wbf: #D5001F;
    --dp-lightgrey: #F5F5F5;
    --dp-topps: #FF1C1C;
    --dp-cco: #FFD830;
    --dp-white: #FFFFFF;
    --dp-darkgrey: #D2D2D5;

}

/*#endregion reset and palette*/

/*#region utility*/
.pad_2 {
    padding: 1rem;
}

h2 {
    font-weight: 700;
    font-size: 2.4rem;
}

h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h5,
.plan_highlights div {
    margin-bottom: 1rem;
}

.underline {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 2rem;
}

.margin_columns {
    margin: 2rem 1rem;
}

.float {
    float: left;
}

/*#endregion utility*/

/*#region common*/
body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.container_l {
    width: 70%;
    margin: 4rem auto;
}

.container_sm {
    width: 50%;
    margin: 9rem auto;
}

.container_xl {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blue_button {
    padding: 0.5rem 1rem;
    background-color: var(--dp-bluebutton);
    color: var(--dp-white);
    border: 0px;
    text-decoration: none;
}

@keyframes on_button {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.blue_button:hover {
    animation: on_button 0.3s;
    background-color: var(--dp-bluebutton);
    opacity: 0.5;
    color: var(--dp-white);
}

.centered_button {
    text-align: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}


.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.flex_bt {
    display: flex;
    justify-content: space-between;
}

/*#endregion common*/

/*#region site_nav*/
body {
    position: relative;
}

.site_header {
    background-color: var(--dp-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.nav_left,
.nav_right {
    display: flex;
    align-items: center;
}

.nav_left .link,
.nav_left img {
    margin: 0 1.5rem 0 0;
}

.nav_right .link,
.nav_right .blue_button {
    margin: 0 0 0 1.5rem;
}

.nav .link {
    text-decoration: none;
    color: var(--dp-dark)
}

.nav .link:hover {
    border-bottom: 1px solid var(--dp-lonelyplanet);
    padding-bottom: 1.5rem;
    margin-bottom: -1.5rem
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 2;
    padding: 1rem;
    background-color: var(--dp-white);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover+.dropdown_content,
.dropdown_content:hover {
    display: table;
}

.dropdown_content a:hover {
    background-color: var(--dp-sky);
    color: var(--dp-white);
    padding: 1rem;
}

/*#endregion site_nav*/

/*#region jumbotron*/
.jumbotron {
    background-color: var(--dp-sky);
    margin-top: 3rem;
}

.jumbotron .container_l {
    margin-bottom: -5rem;
}

.jumbotron_content {
    padding-top: 2.5rem;
}

.jumbotron h1 {
    font-weight: 800;
    font-size: 5rem;
}

.jumbotron img {
    width: 45vw;
}

.jumbotron .blue_button {
    margin: 2rem 0 2rem 0;
}

i.fa-solid.fa-arrow-down {
    font-size: 3rem;
    margin-top: 5rem;
    color: var(--dp-dark);
}

/*#endregion jumbotron*/

/*#region section_piano_business*/
.section_piano_business h2,
.section_operations h2 {
    padding-bottom: 3rem;
}

.section_piano_business {
    margin-top: 10rem;
}

.plans.flex {
    margin-right: -1rem;
}

.mensile .radio,
.annuale .radio {
    vertical-align: middle;
    padding: 0.4rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    font-size: 1px;
}

.mensile .radio {
    border: 5px solid var(--dp-bluebutton);
}

.annuale .radio {
    border: 2px solid var(--dp-darkgrey);
}

.mensile {
    margin-right: 1.5rem;
}

.professional,
.advanced,
.enterprise {
    border: 1px solid var(--dp-darkgrey);
}

.professional {
    margin-left: 0rem;
}

.plan_type {
    border-bottom: 1px solid darkgrey;
    padding: 1rem;
    text-align: center;
}

.plan_detail {
    padding: 2rem;
}

.time {
    margin: 1rem 0 0 0;
    color: darkgrey;
}

.plan_detail>div {
    margin-bottom: 1rem;
}

.plan_highlights {
    margin-top: 4rem;
}

i.fa-solid.fa-check {
    color: var(--dp-bluebutton);
}

.horizontal_enterprise {
    border: 1px solid darkgrey;
}

.plan_detail p {
    margin-top: 3rem;
}

.row_enterprise {
    padding: 2rem;
}

.row_enterprise .col_4 {
    text-align: right;
}

.row_enterprise p {
    margin-top: 3rem;
}

.row_enterprise a .blue_button {
    padding-left: 2rem;
    padding-right: 2rem;
}

/*#endregion section_piano_business*/

/*#region partner*/
.partner_image img {
    width: 60%;
    margin-right: 2rem;
    filter: grayscale(1);
}

.partner_image img:hover {
    filter: none;
}

.partner_image::after {
    clear: both;
    display: table;
    content: "";
}

.partner_text {
    padding-top: 3.5rem;
    padding-right: 2rem;
}

a.button_partner {
    padding: 0.5rem 0.7rem;
    margin-top: 1.5rem;
    background-color: transparent;
    border: 1px solid black;
}

.button_partner:hover {
    background-color: var(--dp-dark);
    color: var(--dp-lightgrey);
}

.move {
    position: absolute;
    right: 36.7%;
    animation-name: button_enter;
    animation-duration: 2s;
}

@keyframes button_enter {
    0% {
        right: 0;
    }

    100% {
        right: 36.7%;
        ;
    }
}

/*#endregion partner*/

/*#region operations*/
.row_operations {
    display: flex;
    flex-wrap: wrap;
}

.row_operations .col_4 {
    padding: 1rem;
}

.row_operations img {
    width: 100%;
}

.data h2 {
    padding-right: 30%;
    padding-bottom: 3.5rem
}

/*#endregion operations*/

/*#region team*/
.team_square {
    width: 100%;
    height: 60vh;
}

.side_columns {
    display: flex;
    flex-wrap: wrap;
}

.team_square .col_3 {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.team_square img,
.central_column img {
    width: 50%;
}

.side_columns img {
    filter: invert();
}

.designit {
    background-color: var(--dp-designit);
    border: 1rem solid hsl(113, 47%, 82%);
}

.asu {
    background-color: var(--dp-asu);
}

.topps {
    background-color: var(--dp-topps);
}

.florida {
    background-color: var(--dp-florida);
}

.wbr {
    background-color: var(--dp-wbf);
}

.hearst {
    background-color: var(--dp-sky);
}

.lonely {
    background-color: var(--dp-lonelyplanet);
}

.channel {
    background-color: var(--dp-cco);
}

.col_3 img {
    color: var(--dp-white);
}

.team_square .col_3:hover {
    transform: scale(1.1);
}

.central_column {
    background-color: var(--dp-darkgrey);
    color: var(--dp-dark);
    height: 100%;
    padding: 3rem;
}

.small_hr {
    width: 7rem;
    color: grey;
    margin-top: 2rem;
}

.central_column p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*#endregion team*/

/*#region banner and FAQ*/
.banner {
    background-color: var(--dp-sky);
}

.banner_content h2 {
    color: var(--dp-asu);
    width: 60%;
}

.banner_content {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10vh auto;
}

.banner_button {
    padding: 1rem 3rem 1rem 3rem;
    border: none;
}

.banner_button:hover {
    background-color: var(--dp-bluebutton);
    color: var(--dp-white);
}

.section_faq hr {
    color: var(--dp-dark);
}

.faq_content h2 {
    margin-bottom: 3rem;
}

.question,
.faq_content i,
#reply1,
#reply2,
#reply3 {
    margin: 2rem 0 2rem 0;
}

#reply1,
#reply2,
#reply3 {
    display: none;
}

.question_container_1:hover+#reply1,
.question_container_2:hover+#reply2,
.question_container_3:hover+#reply3 {
    display: block;
}

.question_container_1:hover.question_container_1 i,
.question_container_2:hover.question_container_2 i,
.question_container_3:hover.question_container_3 i {
    transform: rotate(180deg);
    color: var(--dp-bluebutton);
    transition: 0.5s;
}

/*#endregion banner and FAQ*/

/*#region footer*/
#site_footer {
    background-color: var(--dp-dark);
    color: var(--dp-white);
}

.footer_column a {
    display: block;
    text-decoration: none;
    color: var(--dp-white);
    padding-bottom: 1rem;
}

.language {
    padding: 3rem 0 3rem 0
}

.language span {
    margin: 0 0.5rem 0 0.5rem;
}

/*#endregion footer*/